<!--LOGIN_PAGE-->
<html>
<head>
    <title>SmartIS</title>
    <link rel="icon" type="image/x-icon" href="./basic/assets/favicon-spartIS.png">
    <link rel="stylesheet" href="./basic/assets/login.css">
	<meta http-equiv="x-ua-compatible" content="IE=11">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

</head>
<body>
<!--<div th:if="${param.error}">-->
<!--Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--You have been logged out.-->
<!--</div>-->
<div class="login-container">
      <div class="logo-container">
    <div class="logo">
      <!--<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55">-->
        <!--<g>-->
          <!--<g transform="rotate(45 27.407411575317393,27.499998092651364) " id="svg_18">-->
            <!--<rect rx="1" id="svg_8" height="10" width="10" y="8.430496" x="36.481245" stroke-width="0" stroke="#000"-->
                  <!--fill="#ffffff"/>-->
            <!--<g id="svg_15">-->
              <!--<rect rx="1" id="svg_13" height="10" width="10" y="36.564596" x="21.416767" stroke-width="0" stroke="#000"-->
                    <!--fill="#ffffff"/>-->
              <!--<rect rx="1" id="svg_14" height="10" width="10" y="36.569501" x="34.479419" stroke-width="0" stroke="#000"-->
                    <!--fill="#ffffff"/>-->
              <!--<rect rx="1" id="svg_12" height="10" width="10" y="36.569501" x="8.333567" stroke-width="0" stroke="#000"-->
                    <!--fill="#ffffff"/>-->
              <!--<rect rx="1" id="svg_11" height="10" width="10" y="23.573184" x="34.449984" stroke-width="0" stroke="#000"-->
                    <!--fill="#ffffff"/>-->
              <!--<rect rx="1" id="svg_10" height="10" width="10" y="23.548655" x="21.397144" stroke-width="0" stroke="#000"-->
                    <!--fill="#ffffff"/>-->
              <!--<rect rx="1" id="svg_9" height="10" width="10" y="23.542825" x="8.34736" stroke-width="0" stroke="#000"-->
                    <!--fill="#ffffff"/>-->
              <!--<rect rx="1" id="svg_7" height="10" width="10" y="10.504702" x="21.393873" stroke-width="0" stroke="#000"-->
                    <!--fill="#ffffff"/>-->
              <!--<rect rx="1" id="svg_1" height="10" width="10" y="10.466167" x="8.368833" stroke-width="0" stroke="#000"-->
                    <!--fill="#ffffff"/>-->
            <!--</g>-->
          <!--</g>-->
        <!--</g>-->
      <!--</svg>-->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        id="svg827"
        width="100"
        height="96"
        viewBox="0 0 253 195"
      >
        <defs id="defs831" />
        <circle
          style="fill:#ffffff;fill-rule:evenodd"
          id="path4540"
          cx="126.4056"
          cy="98.632401"
          r="44.696384" ></circle>
        <circle
          style="fill:#f68121;fill-rule:evenodd"
          id="path4540-3"
          cx="229.08646"
          cy="98.632401"
          r="22.952196" ></circle>
        <circle
          style="fill:#ffffff;fill-rule:evenodd"
          id="path4540-3-8"
          cx="23.724695"
          cy="98.632401"
          r="22.952196" ></circle>
        <circle
          style="fill:#ffffff;fill-rule:evenodd"
          id="path4540-3-7"
          cx="251.99905"
          cy="-69.211197"
          transform="rotate(63.686674)"
          r="22.952198" ></circle>
        <circle
          style="fill:#ffffff;fill-rule:evenodd"
          id="path4540-3-8-7"
          cx="34.557224"
          cy="-69.211197"
          transform="rotate(63.686674)"
          r="22.952198" ></circle>
        <circle
          style="fill:#ffffff;fill-rule:evenodd"
          id="path4540-3-7-8"
          cx="139.55449"
          cy="-156.90067"
          transform="rotate(116.74842)"
          r="22.952196" ></circle>
        <circle
          style="fill:#ffffff;fill-rule:evenodd"
          id="path4540-3-8-7-5"
          cx="-77.887352"
          cy="-155.69266"
          transform="rotate(116.74842)"
          r="22.952196" ></circle>
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:#80c36a;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:0;stroke-dasharray:none;stroke-opacity:1"
          id="rect4669-6"
          width="10.05669"
          height="18.692448"
          x="-103.56725"
          y="53.967209"
          transform="rotate(-90)" ></rect>
        <rect
          style="opacity:1;fill:#f68121;fill-opacity:1;stroke:#f68121;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:0;stroke-dasharray:none;stroke-opacity:1"
          id="rect4669-6-8"
          width="10.05669"
          height="18.692448"
          x="-103.76644"
          y="177.89778"
          transform="rotate(-90)" ></rect>
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:0;stroke-dasharray:none;stroke-opacity:1"
          id="rect4669-2"
          width="9.0443535"
          height="25.533276"
          x="150.297"
          y="84.893951"
          transform="matrix(0.89700675,0.44201684,-0.42307794,0.90609329,0,0)" ></rect>
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:#FFFFFF;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:0;stroke-dasharray:none;stroke-opacity:1"
          id="rect4669-2-1"
          width="9.0443535"
          height="25.533276"
          x="151.1279"
          y="-44.886276"
          transform="matrix(0.89700675,0.44201684,-0.42307795,0.90609329,0,0)" ></rect>
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:#80c36a;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:0;stroke-dasharray:none;stroke-opacity:1"
          id="rect4669-2-1-4"
          width="9.0443535"
          height="25.533276"
          x="68.235229"
          y="193.75984"
          transform="matrix(0.91396707,-0.40578836,0.42489643,0.90524197,0,0)" ></rect>
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:#80c36a;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:0;stroke-dasharray:none;stroke-opacity:1"
          id="rect4669-2-1-4-7"
          width="9.0443535"
          height="25.533274"
          x="67.604752"
          y="61.882607"
          transform="matrix(0.91396707,-0.40578836,0.42489646,0.90524196,0,0)" ></rect>
      </svg>

    </div>

    <h1><span>Smart</span>IS</h1>
  </div>

    <form action="/login" method="post">
        <div class="username-container">
            <label for="username">Логин : </label>
            <input id="username" type="text" name="username" required/>
        </div>
        <div class="password-container">
            <label for="password"> Пароль: </label>
            <input id="password" type="password" name="password" required/>
        </div>
        <div id="error-container" class="error-container">

        </div>
        <div class="btn-container">
            <button type="submit">Войти</button>
        </div>
    </form>

</div>

<script>
    window.addEventListener('load', function (event) {
        checkLoginError();
    });

    function checkLoginError() {
        if (location.search.indexOf("error") !== -1) {
            var error_container = window.document.getElementById('error-container');
            error_container.innerHTML = "<span class='text-danger'>Ошибка авторизации. Проверьте правильность ввода логина и пароля!</span>";
        }
    }
</script>
</body>
</html>
